<div class="footer-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h3>Our Links</h3>
          <hr />
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/menu">Menu</a></li>
            <li><a routerLink="/contactus">Contact us</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>Address</h3>
          <hr />
          <address>
            Hanumiah Nagar<br>
            Koretipadu, Guntur<br>
            Andhra Pradesh<br>
            INDIA-522007
          </address>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>Social Links</h3>
          <hr>
          <div class="button-row">
            <button mat-fab color="primary"><i class="fa fa-facebook fa-2x"></i></button>
            <button mat-fab color="primary"><i class="fa fa-twitter fa-2x"></i></button>
            <button mat-fab color="warn"><i class="fa fa-google-plus fa-2x"></i></button>
            
          </div>
        </div>
      </div>
    </div>
</div>