.container {
    margin: 40px;
}

.header-image {
    background: url('/assets/images/idly.jpg');
    background-size: cover;
}

.promotion-image {
    background: url('/assets/images/promotion.jpg');
    background-size: cover;
}