<div class="mainHeader">
  <div class="container mainbg">
    <div class="row headerin">
      <div class="col-3 col-md-2 headerLeft">
        <div class="row">
          <div class="col-12 col-md-6 profImg">
            <div class="bluepart">
              <i class="fa fa-bitcoin"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-8 headerMiddle">
        <div class="headertext">
          <h1>Accounts overview</h1>
        </div>
      </div>
      <div class="col-3 col-md-2 headerRight">
          <ul>
            <li>
              <a href="#">Page style</a>
            </li>
            <li>
              <a href="#"><i class=" fa fa-th"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-list"></i></a>
            </li>
          </ul>
      </div>
    </div>

  <div class="row subHeader">
    <div class="col-sm-6 subHeaderL">
      <div class="bal">
        Balance
      </div>
    </div>
    <div class="col-sm-6 subHeaderR">
      <div class="myAcc">
        <div><b>My accounts</b></div>
        <div>
          <i class="fa fa-search"></i>
        </div>
        <div>
            <i class="fa fa-caret-down"></i>
        </div>
      </div>
      <div class="noAcc">
        <span><i class="fa fa-chevron-left"></i> 1 |  2<i class="fa fa-chevron-right"></i></span>
      </div>
    </div>
  </div>

  

</div>
</div>