<div class="container">
  <div class="alert alert-info">
      <h1 class="text-center">{{title}}</h1>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h3>Employees Record</h3>
          </div>
          <app-data-component
           [empList]="employeeRecord" (fullDetails)="getEmpFullDetails($event)">
          </app-data-component>
        </div>
      </div>
    </div>

    <div class="col-sm-8" *ngIf="tempEmpobj">
      <div class="card">
        <div class="card-header">
          <h3>{{tempEmpobj.eName}}</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Position</th>
                    <th scope="col">Address</th>
                    <th scope="col">Department</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Education</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{tempEmpobj.eName}}</td>
                    <td>{{tempEmpobj.eSalary}}</td>
                    <td>{{tempEmpobj.ePosition}}</td>
                    <td>{{tempEmpobj.address}}</td>
                    <td>{{tempEmpobj.department}}</td>
                    <td>{{tempEmpobj.sex}}</td>
                    <td>{{tempEmpobj.education}}</td>
                  </tr>

                </tbody>
              </table>
        </div>
      </div>
    </div>


  </div>
</div>