<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
       <h1>Contact Us</h1>
       <hr />
  </div>

  <div fxFlex>
    <h2>Lcation Information</h2>
  </div>

  <div fxflex>
    <div fxLayout
         fxLayout.xs="column"
         fxLayout.sm="column"
         fxLayoutGap="10px">
      <div fxFlex="50">
        <h3>Our Address</h3>

        <address>
            Hanumaiah Nagar<br />
            Koretipadu, Guntur<br />
            Andhra Pradesh<br />
            India-522007<br />
            <i class="fa fa-phone-square"></i>: +91 9849826448<br />
            <i class="fa fa-envelope-square"></i>: homeTaste@gmai.com<br />
        </address>

        <button mat-raised-button><i class="fa fa-phone"></i>call</button>
        <button mat-raised-button><i class="fa fa-skype"></i>skype</button>
        <button mat-raised-button><i class="fa fa-envelope"></i>Email</button>

      </div>

      <div fxFlex>
        <h3>Map of our location</h3>
        
      </div>
    </div>
  </div>


    
    
    
    
</div>